.marked {
    background-color: rgba(0, 128, 0, 0.4);
    border: 42px solid green;
    opacity: 1;
}

.kill {
    background-color: rgba(128, 0, 0, 0.4);
    border: 42px solid red;
}

.hovered {
    background-color: rgba(0, 0, 128, 0.4);
    border: 42px solid blue;
}